{
  "ad": {
    "dmg": {
      "fields": [
        "frame.number",
        "frame.time_epoch",
        "frame.len",
        "wlan_radio.phy",
        "wlan_radio.channel",
        "wlan_radio.frequency",
        "wlan_radio.signal_dbm",
        "wlan_radio.noise_dbm",
        "wlan_radio.data_rate",
        "radiotap.mcs.index",
        "wlan_radio.duration",
        "wlan_radio.preamble",
        "wlan_radio.timestamp",
        "radiotap.length",
        "radiotap.channel.freq",
        "wlan.ta",
        "wlan.ra",
        "wlan.fc.type_subtype",
        "wlan.fc.retry",
        "wlan.seq",
        "wlan.frag",
        "wlan.fixed.timestamp"
      ],
      "filter": "wlan.fc.type_subtype == 0x0030"
    },
    "mgmt": {
      "fields": [
        "frame.number",
        "frame.time_epoch",
        "frame.len",
        "wlan_radio.phy",
        "wlan_radio.channel",
        "wlan_radio.frequency",
        "wlan_radio.signal_dbm",
        "wlan_radio.noise_dbm",
        "wlan_radio.data_rate",
        "wlan_radio.11n.mcs_index",
        "radiotap.mcs.index",
        "wlan_radio.duration",
        "wlan_radio.preamble",
        "wlan_radio.timestamp",
        "radiotap.length",
        "radiotap.channel.freq",
        "wlan.ta",
        "wlan.ra",
        "wlan.fc.type_subtype",
        "wlan.fc.retry",
        "wlan.seq",
        "wlan.frag",
        "wlan.fixed.timestamp"
      ],
      "filter": "wlan.fc.type_subtype == 0x0000 || wlan.fc.type_subtype == 0x0001 || wlan.fc.type_subtype == 0x0002 || wlan.fc.type_subtype == 0x0003 || wlan.fc.type_subtype == 0x000a || wlan.fc.type_subtype == 0x000b || wlan.fc.type_subtype == 0x000c"
    },
    "sweep": {
      "fields": [
        "frame.number",
        "frame.time_epoch",
        "frame.len",
        "wlan_radio.phy",
        "wlan_radio.channel",
        "wlan_radio.frequency",
        "wlan_radio.signal_dbm",
        "wlan_radio.noise_dbm",
        "wlan_radio.data_rate",
        "wlan_radio.11n.mcs_index",
        "radiotap.mcs.index",
        "wlan_radio.duration",
        "wlan_radio.preamble",
        "wlan_radio.timestamp",
        "radiotap.length",
        "radiotap.channel.flags.2ghz",
        "radiotap.channel.flags.5ghz",
        "radiotap.channel.freq",
        "wlan.ta",
        "wlan.ra",
        "wlan.fc.type_subtype",
        "wlan.fc.retry",
        "wlan.seq",
        "wlan.frag",
        "wlan.ssw",
        "wlan.sswf",
        "wlan.bf",
        "wlan.sswf.sector_select",
        "wlan.sswf.snr_report",
        "wlan.ssw.cdown",
        "wlan.ssw.sector_id",
        "wlan.ssw.direction"
      ],
      "filter": "wlan.fc.type_subtype == 0x0168 || wlan.fc.type_subtype == 0x0169 || wlan.fc.type_subtype == 0x016A"
    },
    "data": {
      "fields": [
        "frame.number",
        "frame.time_epoch",
        "frame.len",
        "ip.hdr_len",
        "ip.proto",
        "ip.src",
        "ip.dst",
        "ip.id",
        "ip.frag_offset",
        "ip.flags",
        "ip.reassembled_in",
        "udp.srcport",
        "udp.dstport",
        "wlan_radio.phy",
        "wlan_radio.channel",
        "wlan_radio.frequency",
        "wlan_radio.signal_dbm",
        "wlan_radio.noise_dbm",
        "wlan_radio.data_rate",
        "wlan_radio.11n.mcs_index",
        "radiotap.mcs.index",
        "wlan_radio.duration",
        "wlan_radio.preamble",
        "wlan_radio.timestamp",
        "radiotap.length",
        "radiotap.channel.flags.2ghz",
        "radiotap.channel.flags.5ghz",
        "radiotap.channel.freq",
        "wlan.ta",
        "wlan.ra",
        "wlan.fc.type_subtype",
        "wlan.fc.retry",
        "wlan.seq",
        "wlan.frag",
        "wlan.ba.bm",
        "wlan.fixed.ssc.sequence",
        "data.text"
      ],
      "filter": "(wlan.fc.type_subtype == 25 || wlan.fc.type_subtype == 29 || wlan.fc.type_subtype == 40)"
    }
  }
}